@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --primary: #D20000;
  --bg-dark: #0f0f1a;
  --bg-black: #00001a;
  --text-white: #ffffff;
  --hover: #ED3434;
}

body {
  font-family: "Oxanium", sans-serif;
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}
@layer components {
  .file-btn::file-selector-button {
    background-color: var(--file-bg);
  }

  .file-btn::file-selector-button:hover {
    filter: brightness(0.9);
  }
}
